.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin-top: 90px;
  font-size: 30px;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}
img {
  width: 100%;
}

footer {
  margin-top: 5%;
  color: white;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
.click {
  border: 5px solid;
  background-color: aqua;
  color: black;
  text-align: center;
  justify-content: center;
}
.side-top {
  text-align: right;
  padding-right: 50px;
}
.score {
  font-size: 35px;
  color: antiquewhite;
}
